.header {
  background: #f6f5f3;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.15));

  position: fixed;

  top: 0;
  z-index: 1;
  width: 100%;
}

.header__logo {
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    opacity: 0.7;
  }
  @media (min-width: 320px) and (max-width: 1024px) {
    img {
      width: 84px;
      height: 40px;
    }
  }
}
.header__burger {
  display: block;
  position: absolute;
  top: 25px;
  right: 13px;

  width: 25px;
  height: 21px;

  @media (min-width: 1023px) {
    display: none;
  }
}

.header__burger {
  z-index: 10;
  span {
    background-color: #2e3152;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
}

.header__burger::before,
.header__burger::after {
  content: '';
  background-color: #2e3152;
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  transition: all 0.3s ease 0s;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__burger.close::before {
  transform: rotate(45deg);
  top: 8px;
  background-color: $white;
}

.header__burger.close::after {
  transform: rotate(-45deg);
  top: 8px;
  background-color: $white;
}

.header__burger.close {
  span {
    transform: scale(0);
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px 13px;

  @media (min-width: 1024px) {
    padding: 14px 0;
  }
}

.container {
  margin: 0 auto;

  max-width: 1160px;
}

.nav-mobile {
  display: none;

  background-image: url('/img/nav-mobile-bg.svg');

  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  padding-top: 47px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 65px;

    gap: 20px;
  }

  &__item {
    a {
      color: $white;
      font-size: 20px;
      line-height: 23px;

      &:hover {
        color: #e30613;
      }
      &:active {
        opacity: 0.7;
      }
    }
  }

  &__button {
    margin: 0 auto;
    width: 300px;
    height: 49px;
  }

  @media (max-width: 1023px) {
    &--open {
      display: block;

      html {
        overflow: hidden;
      }
    }
  }
}

.nav {
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}

.nav__list {
  @media (min-width: 1024px) {
    display: flex;
    gap: 15px;

    margin-left: 37px;
  }
}

.nav__item {
  transition: all 0.3s ease-in;
  a {
    display: block;
    padding: 2px 8px;
  }
  &:hover {
    a {
      color: $red;
    }
  }

  &:active {
    transition: all 0.3s ease-in;

    a {
      background-color: $red;
      color: $white;
      border-radius: 4px;
    }
  }

  a {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #2e3152;
  }
}

.header__phone {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  margin: 0 auto;
  // margin-right: 30px;

  color: $red;
}

.header__button {
  display: none;
  width: 206px;
  height: 51px;

  @media (min-width: 1024px) {
    display: block;
  }
}
